<div class="moj-oglas-details-container">
  <div class="content container">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="moj-oglas-content">

      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{mojOglasDetails.oglas.alat.fotografija ? mojOglasDetails.oglas.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>

      <div class="moj-oglas-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <a href="{{mojOglasDetails.oglas.alat.poveznicaNaProizvod}}" target="blank" *ngIf="mojOglasDetails.oglas.alat.poveznicaNaProizvod">{{mojOglasDetails.oglas.alat.vrsta}}</a>
                  <a *ngIf="!mojOglasDetails.oglas.alat.poveznicaNaProizvod">{{mojOglasDetails.oglas.alat.vrsta}}</a>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="mojOglasDetails.oglas.alat.podvrsta">
                <div class="col-sm-5">
                  <h6 class="mb-0">Podvrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.alat.podvrsta}}
                </div>
              </div>
              <hr *ngIf="mojOglasDetails.oglas.alat.podvrsta">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Snaga alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.alat.snaga}}W
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Akumulatorski</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.alat.akumulatorski ? "DA" : "NE"}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kategorija</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.alat.kategorija}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mjesto primjene</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.alat.mjestoPrimjene}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Opis oglasa</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  {{mojOglasDetails.oglas.tekstOglasa}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vlasnik oglasa</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.nuditelj.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kontakt</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.nacinKontakta === "TELEFON" ? mojOglasDetails.oglas.nuditelj.phone : mojOglasDetails.oglas.nuditelj.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Adresa</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojOglasDetails.oglas.nuditelj.address + ", " + mojOglasDetails.oglas.nuditelj.city}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Status oglasa</h6>
                </div>
                <div class="col-sm-7 text-secondary" *ngIf="mojOglasDetails.oglas.active">
                  <p class="text-success">Aktivan</p>
                </div>
                <div class="col-sm-7 text-secondary" *ngIf="!mojOglasDetails.oglas.active">
                  <p class="text-danger">U posudbi</p>
                </div>
              </div>
              <hr *ngIf="mojOglasDetails.zainteresirani && (mojOglasDetails.zainteresirani.length > 0 || mojOglasDetails.oglas.active)">
              <div class="row" *ngIf="mojOglasDetails.zainteresirani && (mojOglasDetails.zainteresirani.length > 0 || mojOglasDetails.oglas.active)">
                <div class="col-sm-5">
                  <h6 class="mb-0">Zainteresirani</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <div class="container">
                    <app-ponuda *ngFor="let ponuda of mojOglasDetails.zainteresirani" [vlasnikId]="mojOglasDetails.oglas.nuditelj.userId" [id]="mojOglasDetails.oglas.idOglasa" [ponuda]="ponuda" [vrsta]="'oglas'"></app-ponuda>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="!mojOglasDetails.zainteresirani">
          <div>
            <div class="btn btn-moj" (click)="ponistiInteres()">Poništi interes</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
