<div class="moja-posudba-details-container">
  <div class="content container">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="moja-posudba-content">

      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{mojaPosudbaDetails.alat.fotografija ? mojaPosudbaDetails.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>

      <div class="moja-posudba-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <a href="{{mojaPosudbaDetails.alat.poveznicaNaProizvod}}" target="blank" *ngIf="mojaPosudbaDetails.alat.poveznicaNaProizvod">{{mojaPosudbaDetails.alat.vrsta}}</a>
                  <a *ngIf="!mojaPosudbaDetails.alat.poveznicaNaProizvod">{{mojaPosudbaDetails.alat.vrsta}}</a>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="mojaPosudbaDetails.alat.podvrsta">
                <div class="col-sm-5">
                  <h6 class="mb-0">Podvrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.alat.podvrsta}}
                </div>
              </div>
              <hr *ngIf="mojaPosudbaDetails.alat.podvrsta">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Snaga alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.alat.snaga}}W
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Akumulatorski</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.alat.akumulatorski ? "DA" : "NE"}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kategorija</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.alat.kategorija}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mjesto primjene</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.alat.mjestoPrimjene}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Opis oglasa</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  {{mojaPosudbaDetails.tekstOglasa}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vlasnik oglasa</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.nuditelj.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kontakt</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.nacinKontakta === "TELEFON" ? mojaPosudbaDetails.nuditelj.phone : mojaPosudbaDetails.nuditelj.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Adresa</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.nuditelj.address + ", " + mojaPosudbaDetails.nuditelj.city}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" *ngIf="mojaPosudbaDetails.posuditelj">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Klijent</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojaPosudbaDetails.posuditelj.username}}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="text-center">
          <button class="btn btn-moj" (click)="zavrsiPosudbu()" *ngIf="(this.userService.currentUser.userId === mojaPosudbaDetails.nuditelj.userId && !mojaPosudbaDetails.povratNuditelj)
                                                                        || (this.userService.currentUser.userId === mojaPosudbaDetails.posuditelj.userId && !mojaPosudbaDetails.povratPosuditelj)">
          Završi posudbu
          </button>

          <p class="text-success" *ngIf="!((this.userService.currentUser.userId === mojaPosudbaDetails.nuditelj.userId && !mojaPosudbaDetails.povratNuditelj)
                                          || (this.userService.currentUser.userId === mojaPosudbaDetails.posuditelj.userId && !mojaPosudbaDetails.povratPosuditelj))">
          Vi ste završili posudbu, čeka se da druga strana završi
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

