.moj-grid {
  width: 100%;
  max-width: 1200px;
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
  gap: 1rem;
  grid-template-rows: auto;
  margin-bottom: 40px;
}

.filter-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter-field > label {
  margin-bottom: 5px;
}

.filter-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.filter {
  text-align: center;
}

.add-oglas {
  text-align: center;
}

input,
select {
  width: 200px;
  height: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
