<app-header></app-header>

<div class="container add-zahtjev">
  <a class="btn btn-moj mt-3" href="/addZahtjev">Dodaj svoj zahtjev</a>
</div>

<div class="moj-grid container">
  <app-moj-zahtjev *ngFor="let zahtjev of zahtjevService.mojiZahtjevi" [zahtjev]="zahtjev"></app-moj-zahtjev>
</div>
