.addFeedback-tekstarea,
.addReport-tekstarea {
  resize: none;
  width: 100%;
}

.feedback-naslov {
  background-color: #6b84a9;
}

.report-naslov {
  background-color: #a01823;
}

.feedback-naslov,
.report-naslov {
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.ocjena label {
  margin-right: 10px;
}

.ocjena-value {
  padding-left: 2px;
}
