<div class="container">
  <div class="d-flex justify-content-between">
    <div class="feedback-naslov">
      <p class="d-inline" (click)="this.showReport = true; this.showFeedback = false">Feedback</p>
    </div>
    <div class="report-naslov">
      <p class="d-inline" (click)="this.showFeedback = true; this.showReport = false">Report</p>
    </div>
  </div>

  <div [hidden]="showFeedback">
    <form id="addFeedbackForm" class="m-2" [formGroup]="addFeedbackForm" (ngSubmit)="addFeedback()">
      <div class="col-md-12 content-details">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Ocjena<span class="text-danger">*</span></h6>
              </div>
              <div class="col-sm-7 text-secondary ocjena">
                <label><input type="radio" name="ocjena" value="1" formControlName="ocjena"><span class="ocjena-value">1</span></label>
                <label><input type="radio" name="ocjena" value="2" formControlName="ocjena"><span class="ocjena-value">2</span></label>
                <label><input type="radio" name="ocjena" value="3" formControlName="ocjena"><span class="ocjena-value">3</span></label>
                <label><input type="radio" name="ocjena" value="4" formControlName="ocjena"><span class="ocjena-value">4</span></label>
                <label><input type="radio" name="ocjena" value="5" formControlName="ocjena"><span class="ocjena-value">5</span></label>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group mb-1">
        <textarea class="addFeedback-tekstarea" name="tekstFeedbacka"  formControlName="tekstFeedbacka" rows="7" maxlength="255" placeholder="Recite nam Vaše iskustvo s ovom posudbom..."></textarea>

        <div *ngIf="controlFeedback('tekstFeedbacka')?.errors?.required && controlFeedback('tekstFeedbacka').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <button class="btn btn-success" type="submit" [disabled]="addFeedbackForm.invalid">Pošalji feedback</button>
    </form>
  </div>

  <div [hidden]="showReport">
    <form id="addReportForm" class="m-2" [formGroup]="addReportForm" (ngSubmit)="addReport()">
      <div class="form-group mb-1">
        <textarea class="addReport-tekstarea" name="tekstReporta"  formControlName="tekstReporta" rows="7" maxlength="255" placeholder="Razlog prijave..."></textarea>

        <div *ngIf="controlReport('tekstReporta')?.errors?.required && controlReport('tekstReporta').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <button class="btn btn-danger" type="submit" [disabled]="addReportForm.invalid">Pošalji report</button>
    </form>
  </div>
</div>
