<app-header></app-header>

<div class="container add-zahtjev d-flex justify-content-evenly">
  <a class="btn btn-moj mt-3" href="/addOglas">Dodaj svoj oglas</a>
  <a class="btn btn-moj mt-3" href="/addZahtjev">Dodaj svoj zahtjev</a>
</div>

<div class="filter container">
  <form id="filterForm" class="m-2" [formGroup]="filterForm" (ngSubmit)="filter()">
    <div class="filter-fields">
      <div class="akumulatorski-filter filter-field">
        <label for="akumulatorski">Akumulatorski</label>
        <select name="akumulatorski" formControlName="akumulatorski">
          <option [ngValue]="null"></option>
          <option value="true">DA</option>
          <option value="false">NE</option>
        </select>
      </div>

      <div class="kategorija-filter filter-field">
        <label for="kategorija">Kategorija</label>
        <select name="kategorija" formControlName="kategorijaAlata">
          <option [ngValue]="null"></option>
          <option value="PROFESIONALNI">Profesionalni</option>
          <option value="POLUPROFESIONALNI">Poluprofesionalni</option>
          <option value="AMATERSKI">Amaterski</option>
        </select>
      </div>

      <div class="mjestoPrimjene-filter filter-field">
        <label for="mjestoPrimjene">Mjesto primjene</label>
        <select name="mjestoPrimjene" formControlName="mjestoPrimjeneAlata">
          <option [ngValue]="null"></option>
          <option value="VANJSKI">Vanjski</option>
          <option value="UNUTARNJI">Unutarnji</option>
          <option value="NEDEFINIRANO">Nedefinirano</option>
        </select>
      </div>

      <div class="vrsta-filter filter-field">
        <label for="vrsta">Vrsta</label>
        <input type="text" id="vrsta" name="vrsta" formControlName="vrsta">
      </div>

      <div class="snaga-filter filter-field">
        <label for="maxSnaga">Max snaga</label>
        <input type="number" id="maxSnaga" name="maxSnaga" formControlName="maxSnaga" min="0">

        <div *ngIf="control('maxSnaga')?.errors?.required && control('maxSnaga').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="maxUdaljenost-filter filter-field" *ngIf="this.userService.isLoggedIn()">
        <label for="maxUdaljenost">Max udaljenost (km)</label>
        <input type="number" id="maxUdaljenost" name="maxUdaljenost" formControlName="maxUdaljenost" min="0">

        <div *ngIf="control('maxUdaljenost')?.errors?.required && control('maxUdaljenost').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="nacinKontakta-filter filter-field">
        <label for="nacinKontakta">Način kontakta</label>
        <select name="nacinKontakta" formControlName="nacinKontakta">
          <option [ngValue]="null"></option>
          <option value="EMAIL">Email</option>
          <option value="TELEFON">Telefon</option>
        </select>
      </div>
    </div>

    <button class="btn btn-success mt-3 button-text" type="submit" [disabled]="filterForm.invalid">Filtriraj</button>
  </form>
</div>

<div class="moj-grid container">
  <app-oglas *ngFor="let oglas of oglasService.oglasi" [oglas]="oglas"></app-oglas>
</div>
