<app-header></app-header>

<div class="container">
  <div class="form-container border rounded bg-light my-5">
    <form id="urediZahtjevForm" class="m-2" [formGroup]="urediZahtjevForm" (ngSubmit)="urediZahtjev()">

      <div>
        <div class="form-group mb-1">
          <label class="title-text" for="vrsta">Naziv alata:<span class="text-danger">*</span></label>
          <input [ngClass]="{'is-valid' : control('vrsta').touched && control('vrsta').value !== ''}"
            class="form-control input-box"
            name="vrsta"
            id="vrsta"
            type="text"
            formControlName="vrsta">
        </div>

        <div class="form-group mb-1">
          <label class="title-text" for="fotografija">Poveznica na fotografiju alata:</label>
          <input [ngClass]="{'is-valid' : control('poveznicaNaProizvod').touched && control('poveznicaNaProizvod').value !== ''}"
            class="form-control input-box"
            name="fotografija"
            id="fotografija"
            type="text"
            formControlName="fotografija">
        </div>

        <div class="form-group mb-1">
          <label class="title-text" for="poveznicaNaProizvod">Poveznica na proizvod:</label>
          <input [ngClass]="{'is-valid' : control('poveznicaNaProizvod').touched && control('poveznicaNaProizvod').value !== ''}"
            class="form-control input-box"
            name="poveznicaNaProizvod"
            id="poveznicaNaProizvod"
            type="text"
            formControlName="poveznicaNaProizvod">
        </div>

        <div class="form-group mb-1">
          <fieldset>
            <legend>Akumulatorski alat:</legend>
            <label class="title-text" for="akumulatorski"><input class="input-box" name="akumulatorski" value="true" id="akumulatorski" type="radio" formControlName="akumulatorski">Da</label>
            <label class="title-text"><input class="input-box" name="akumulatorski" value="false" id="akumulatorski" type="radio" formControlName="akumulatorski" checked>Ne</label>
          </fieldset>
        </div>

        <div class="form-group mb-1">
          <label class="title-text" for="snaga">Snaga alata (W):</label>
          <input [ngClass]="{'is-valid' : control('snaga').touched && control('snaga').value !== ''}"
            class="form-control input-box"
            name="snaga"
            id="snaga"
            type="number"
            step="10"
            min="0"
            formControlName="snaga">
        </div>

        <div class="form-group mb-1">
          <label class="title-text">Kategorija alata:<span class="text-danger">*</span></label>
          <select name="kategorijaAlata" formControlName="kategorijaAlata">
            <option [ngValue]="null" disabled>Kategorija</option>
            <option value="PROFESIONALNI">Profesionalni</option>
            <option value="POLUPROFESIONALNI">Poluprofesionalni</option>
            <option value="AMATERSKI">Amaterski</option>
          </select>
        </div>

        <div class="form-group mb-1">
          <label class="title-text" for="podvrsta">Podvrsta alata:</label>
          <input [ngClass]="{'is-valid' : control('podvrsta').touched && control('podvrsta').value !== ''}"
            class="form-control input-box"
            name="podvrsta"
            id="podvrsta"
            type="text"
            formControlName="podvrsta">
        </div>

        <div class="form-group mb-1">
          <label class="title-text" for="mjestoPrimjeneAlata">Mjesto primjene:<span class="text-danger">*</span></label>
          <select id="mjestoPrimjeneAlata" name="mjestoPrimjeneAlata" formControlName="mjestoPrimjeneAlata">
            <option [ngValue]="null" disabled>Mjesto primjene</option>
            <option value="VANJSKI">Vanjski</option>
            <option value="UNUTARNJI">Unutarnji</option>
            <option value="NEDEFINIRANO">Nedefinirano</option>
          </select>
        </div>
      </div>

      <div class="form-group mb-1">
        <textarea class="addZahtjev-tekstarea" name="tekstZahtjeva" id="tekstZahtjeva" formControlName="tekstZahtjeva" rows="7" maxlength="255" placeholder="Trebam alat za svrhu..."></textarea>

        <div *ngIf="control('tekstZahtjeva')?.errors?.required && control('tekstZahtjeva').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="maxUdaljenost">Udaljenost do alata (km):<span class="text-danger">*</span></label>
        <input [ngClass]="{'is-valid' : control('maxUdaljenost').touched && control('maxUdaljenost').value !== ''}"
          class="form-control input-box"
          name="maxUdaljenost"
          id="maxUdaljenost"
          type="number"
          step="10"
          min="0"
          formControlName="maxUdaljenost">

        <div *ngIf="control('maxUdaljenost')?.errors?.required && control('maxUdaljenost').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text">Kontakt:<span class="text-danger">*</span></label>
        <select name="nacinKontakta" formControlName="nacinKontakta">
          <option [ngValue]="null" disabled>Način kontaktiranja</option>
          <option value="TELEFON">Mobitel</option>
          <option value="EMAIL">Email</option>
        </select>

        <div *ngIf="control('nacinKontakta')?.errors?.required && control('nacinKontakta').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="login-btn">
        <button class="btn btn-success mt-3 button-text" type="submit" [disabled]="urediZahtjevForm.invalid">Uredi Zahtjev</button>
        <a class="quit btn btn-danger mt-3 button-text" href="/profil/mojiZahtjevi">Odustani</a>
      </div>

      <div class="mt-2" *ngIf="!errorMsg">
        <p class="text-danger error-text">*Da bi se promjene o alatu spremile potrebno je upisati barem naziv, kategoriju i mjesto primjene</p>
      </div>

      <div class="mt-2" *ngIf="errorMsg">
        <p class="text-danger error-text">*{{errorMsg}}</p>
      </div>
    </form>
  </div>
</div>
