<div class="moja-posudba">
  <a (click)="showPosudba()" class="moja-posudba-link">
    <div class="moja-posudba-container">
      <div class="tester"></div>
      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{mojaPosudba.alat && mojaPosudba.alat.fotografija ? mojaPosudba.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>
      <div class="user-container">
        <div width="auto" class="user-name-container">
          <p class="user-name">{{mojaPosudba.trazitelj.username}}</p>
        </div>
        <div width="auto" class="user-meta-container" *ngIf="this.userService.najMajstor && this.userService.najMajstor.username === mojaPosudba.trazitelj.username">
          <div width="auto" class="user">
            <img src="../../../assets/star.svg" alt="star-full" class="star">
            <p class="user-name">{{this.userService.najMajstor.ocjenaAVG + " (" + this.userService.najMajstor.ocjenaCount + ")"}}</p>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item-name-container">
          <p class="item-name" *ngIf="mojaPosudba.alat">{{mojaPosudba.alat.vrsta}}</p>
          <p class="item-name" *ngIf="!mojaPosudba.alat">Trebam savjet</p>
        </div>
      </div>
    </div>
  </a>
</div>
