.moja-posudba {
  position: relative;
}

.moja-posudba-edit {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.moja-posudba-dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  padding: 3px;
  white-space: nowrap;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.moja-posudba-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.moja-posudba-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.tester {
  width: 100%;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
}

.image-container {
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 16px;
}

.immage-inner {
  overflow: hidden;
  width: auto;
  position: relative;
  width: 400px;
  border-radius: 16px;
}

.image-hugger {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  position: absolute;
  inset: 0px;
  width: 100%;
}

.user-container {
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.user-name-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: auto;
}

.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 0%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  color: rgb(17, 17, 17);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.user {
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.user-meta-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: auto;
}

.item-container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.item-name-container {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.item-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 0px;
  margin-bottom: 4px;
  color: rgb(17, 17, 17);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.show {
  display: block;
}

/* MODAL*/

.moja-posudba-details-container {
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.exit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.exit:hover,
.exit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.moja-posudba-container {
  width: 95%;
  margin: 0 auto;
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

.image-container {
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 16px;
}

.immage-inner {
  overflow: hidden;
  width: auto;
  position: relative;
  width: 400px;
  border-radius: 16px;
}

.image-hugger {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  position: absolute;
  inset: 0px;
  width: 100%;
}

.btn-borrow {
  width: fit-content;
  margin: 0 auto;
}
