<app-header></app-header>

<div class="moj-grid container">
  <app-moja-posudba-oglas *ngFor="let posudba of posudbaService.mojePosudbeOglasi" [mojaPosudba]="posudba"></app-moja-posudba-oglas>
</div>
