<app-header></app-header>

<div class="moj-grid-home container">

  <div class="oglas">
    <a href="/oglasi" class="oglas-link">
      <p class="poveznica-naslov">Trebate alat?</p>
    </a>
  </div>

  <div class="oglas">
    <a href="/zahtjevi" class="oglas-link">
      <p class="poveznica-naslov">Imate alat?</p>
    </a>
  </div>
</div>
