.moj-grid-home {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.oglas {
  position: relative;
  margin: 0px 20px;
  background-color: #6b84a9;
  padding: 0px 10px;
  border-radius: 10px;
}

.oglas-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.oglas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.poveznica-naslov {
  color: rgb(226, 232, 240);
  font-size: 5rem;
  margin: 20px auto;
  text-align: center;
}

@media screen and (max-width: 870px) {
  .poveznica-naslov {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 680px) {
  .poveznica-naslov {
    font-size: 4rem;
  }
}

@media screen and (max-width: 460px) {
  .poveznica-naslov {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 575px) {
  .poveznica-naslov {
    font-size: 3rem;
  }
}

@media screen and (max-width: 365px) {
  .poveznica-naslov {
    font-size: 2.5rem;
  }
}
