<div class="korisnik" [ngClass]="{'aktivan': korisnik.role !== 'BLOCKED',
                                  'blokiran': korisnik.role === 'BLOCKED'}">
  <div class="korisnik-edit" (click)="showOptions()" *ngIf="this.userService.isLoggedIn() && this.userService.currentUser.role == 'ADMIN'">
  </div>
  <a (click)="showkorisnik()" class="korisnik-link">
    <div class="korisnik-container">
      <div class="user-container">
        <div width="auto" class="user-name-container">
          <p class="user-name">{{korisnik.username}}</p>
        </div>
        <div width="auto" class="user-meta-container" *ngIf="this.userService.najMajstor && this.userService.najMajstor.username === korisnik.username">
          <div width="auto" class="user">
            <img src="../../../assets/star.svg" alt="star-full" class="star">
            <p class="user-name">{{this.userService.najMajstor.ocjenaAVG + " (" + this.userService.najMajstor.ocjenaCount + ")"}}</p>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item-name-container">
          <p class="item-name">{{korisnik.email}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
