<app-header></app-header>

<main class="container">
  <div class="form-container border rounded bg-light my-5 ">
    <form class="m-2" [formGroup]="updateUserForm" (ngSubmit)="urediProfil()">

      <div class="form-group mb-1">
        <label class="title-text" for="firstName">Ime:</label>
        <input [ngClass]="{'is-valid' : !control('firstName')?.errors && control('firstName').touched,
                           'is-invalid' : control('firstName')?.errors && control('firstName').touched}"
          class="form-control input-box"
          name="firstName"
          id="firstName"
          type="text"
          formControlName="firstName">

        <div *ngIf="control('firstName')?.errors?.required && control('firstName').touched">
          <p class="text-danger error-text">*Upišite Vaše ime</p>
        </div>
        <div *ngIf="control('firstName')?.errors?.pattern && control('firstName').touched">
          <p class="text-danger error-text">*Nedozvoljen oblik imena</p>
        </div>
        <div *ngIf="control('firstName')?.errors?.maxlength && control('firstName').touched">
          <p class="text-danger error-text">*Ime mora imati maksimalno {{updateUserForm.get('firstName').errors.maxlength.requiredLength}} znaka</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="lastName">Prezime:</label>
        <input [ngClass]="{'is-valid' : !control('lastName')?.errors && control('lastName').touched,
                           'is-invalid' : control('lastName')?.errors && control('lastName').touched}"
          class="form-control input-box"
          name="lastName"
          id="lastName"
          type="text"
          formControlName="lastName">
        <div *ngIf="control('lastName')?.errors?.required && control('lastName').touched">
          <p class="text-danger error-text">*Upišite Vaše prezime</p>
        </div>
        <div *ngIf="control('lastName')?.errors?.pattern && control('lastName').touched">
          <p class="text-danger error-text">*Nedozvoljen oblik prezimena</p>
        </div>
        <div *ngIf="control('lastName')?.errors?.maxlength && control('lastName').touched">
          <p class="text-danger error-text">*Prezime mora imati maksimalno {{updateUserForm.get('lastName').errors.maxlength.requiredLength}} znaka</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="address">Adresa:</label>
        <input [ngClass]="{'is-valid' : !control('address')?.errors && control('address').touched,
                           'is-invalid' : control('address')?.errors && control('address').touched}"
          class="form-control input-box"
          name="address"
          id="address"
          type="text"
          formControlName="address">
        <div *ngIf="control('address')?.errors?.required && control('address').touched">
          <p class="text-danger error-text">*Upišite Vašu adresu</p>
        </div>
        <div *ngIf="control('address')?.errors?.pattern && control('address').touched">
          <p class="text-danger error-text">*Nedozvoljen oblik adrese</p>
        </div>
        <div *ngIf="control('address')?.errors?.maxlength && control('address').touched">
          <p class="text-danger error-text">*Adresa mora imati maksimalno {{updateUserForm.get('address').errors.maxlength.requiredLength}} znaka</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="city">Mjesto:</label>
        <input [ngClass]="{'is-valid' : !control('city')?.errors && control('city').touched,
                           'is-invalid' : control('city')?.errors && control('city').touched}"
          class="form-control input-box"
          name="city"
          id="city"
          type="text"
          formControlName="city">
        <div *ngIf="control('city')?.errors?.required && control('city').touched">
          <p class="text-danger error-text">*Upišite mjesto</p>
        </div>
        <div *ngIf="control('city')?.errors?.pattern && control('city').touched">
          <p class="text-danger error-text">*Nedozvoljen oblik mjesta</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="phone">Telefon:</label>
        <input [ngClass]="{'is-valid' : !control('phone')?.errors && control('phone').touched,
                           'is-invalid' : control('phone')?.errors && control('phone').touched}"
          class="form-control input-box"
          name="phone"
          id="phone"
          type="tel"
          formControlName="phone">
        <div *ngIf="control('phone')?.errors?.required && control('phone').touched">
          <p class="text-danger error-text">*Upišite Vaš broj telefona</p>
        </div>
        <div *ngIf="control('phone')?.errors?.pattern && control('phone').touched">
          <p class="text-danger error-text">*Neispravan broj telefona</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="password">Lozinka:</label>
        <input [ngClass]="{'is-valid' : !control('password')?.errors && control('password').touched,
                           'is-invalid' : control('password')?.errors && control('password').touched}"
        class="form-control input-box"
        name="password"
        id="password"
        type="password"
        formControlName="password">
        <div *ngIf="control('password')?.errors?.required && control('password').touched">
          <p class="text-danger error-text">*Upišite lozinku</p>
        </div>
        <div *ngIf="control('password')?.errors?.minlength && control('password').touched">
          <p class="text-danger error-text">*Lozinka mora imati minimalno {{updateUserForm.get('password').errors.minlength.requiredLength}} znakova</p>
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-primary mt-3 button-text" type="submit" [disabled]="updateUserForm.invalid">Uredi profil</button>
        <a class="quit btn btn-primary mt-3 button-text" (click)="deleteProfile()" *ngIf="this.userService.currentUser.role !== 'ADMIN'">Izbriši profil</a>
        <a class="quit btn btn-danger mt-3 button-text" href="/profil">Odustani</a>
      </div>
      <div class="mt-2" *ngIf="errorMsg">
        <p class="text-danger error-text">*{{errorMsg}}</p>
      </div>
    </form>
  </div>
</main>
