<div class="feedback-details-container">
  <div class="content container">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="feedback-content">
      <div class="feedback-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Feedback</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Od</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{feedbackDetails.odKorisnika.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Ocjena</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{feedbackDetails.ocjena}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Tekst feedbacka</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{feedbackDetails.tekstFeedbacka}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
