<div class="d-flex justify-content-between align-items-center pb-1" *ngIf="this.userService.currentUser.userId === vlasnikId">
  <p>{{ponuda.username}}</p>
  <div>
    <button class="btn btn-success" (click)="posudiAlat(ponuda.userId)">Posudi</button>
  </div>
</div>
