.form-container {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px grey;
}

.input-box {
  font-size: 1.2rem;
  padding: 4px;
}

.title-text {
  font-size: 1.3rem;
  display: block;
  width: fit-content;
  margin-left: 4px;
  padding: 5px 0px;
}

.button-text {
  font-size: 1.3rem;
}

.error-text {
  font-size: 1rem;
  margin-bottom: 8px;
  margin-left: 4px;
}

.register-link-box {
  margin: 5px auto;
  text-align: center;
}

.register-link {
  font-size: 1rem;
  text-decoration: none;
}

.login-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.quit {
  margin-left: 8px;
}
