<app-header></app-header>

<div class="container">
  <div class="form-container border rounded bg-light my-5">
    <form class="m-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group mb-1">
        <label class="title-text" for="username">Korisničko ime:</label>
        <input [ngClass]="{'is-invalid' : control('username')?.errors && control('username').touched}"
          class="form-control input-box"
          name="username"
          id="username"
          type="text"
          formControlName="username">

        <div *ngIf="control('username')?.errors?.required && control('username').touched">
          <p class="text-danger error-text">*Upišite Vaše korisničko ime</p>
        </div>
        <div *ngIf="control('username')?.errors?.minlength && control('username').touched">
          <p class="text-danger error-text">*Korisničko ime mora imati minimalno {{loginForm.get('username').errors.minlength.requiredLength}} znakova</p>
        </div>
        <div *ngIf="control('username')?.errors?.maxlength && control('username').touched">
          <p class="text-danger error-text">*Korisničko ime mora imati maksimalno {{loginForm.get('username').errors.maxlength.requiredLength}} znakova</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="password">Lozinka:</label>
        <input [ngClass]="{'is-invalid' : control('password')?.errors && control('password').touched}"
        class="form-control input-box"
        name="password"
        id="password"
        type="password"
        formControlName="password">
        <div *ngIf="control('password')?.errors?.required && control('password').touched">
          <p class="text-danger error-text">*Upišite lozinku</p>
        </div>
        <div *ngIf="control('password')?.errors?.minlength && control('password').touched">
          <p class="text-danger error-text">*Lozinka mora imati minimalno {{loginForm.get('password').errors.minlength.requiredLength}} znakova</p>
        </div>
      </div>

      <div class="login-btn">
        <button class="btn btn-success mt-3 button-text" type="submit" [disabled]="loginForm.invalid">Ulogiraj se</button>
        <a class="quit btn btn-danger mt-3 button-text" href="/">Odustani</a>
        <div class="register-link-box">
          <a class="register-link ml-2" href="/register">Nemate korisnički račun? Registrirajte se.</a>
        </div>
      </div>

      <div class="mt-2" *ngIf="errorMsg">
        <p class="text-danger error-text">*{{errorMsg}}</p>
      </div>

    </form>
  </div>
</div>
