<div class="feedback">
  <a (click)="showFeedback()" class="feedback-link">
    <div class="feedback-container">
      <div class="user-container">
        <div width="auto" class="user-name-container">
          <p class="user-name">Od: {{feedback.odKorisnika.username}}</p>
        </div>
      </div>
      <div class="item-container">
        <div class="item-name-container">
          <p class="item-name">Ocjena: {{feedback.ocjena}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
