<div class="moj-oglas">
  <div class="moj-oglas-edit" (click)="showOptions(mojOglas.oglas.idOglasa)" *ngIf="this.userService.currentUser.userId === mojOglas.oglas.nuditelj.userId || this.userService.currentUser.role === 'ADMIN'">
    <img src="../../../assets/three-dots.svg" alt="menu">
    <div id="{{mojOglas.oglas.idOglasa}}-moj-oglas-dropdown-content" class="moj-oglas-dropdown-content">
      <div (click)="urediOglas()">Uredi oglas</div>
      <div (click)="deleteVlastitiOglas(mojOglas.oglas.idOglasa)">Izbriši oglas</div>
    </div>
  </div>
  <a (click)="showOglas()" class="moj-oglas-link">
    <div class="moj-oglas-container">
      <div class="tester"></div>
      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{mojOglas.oglas.alat.fotografija ? mojOglas.oglas.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>
      <div class="user-container">
        <div width="auto" class="user-name-container">
          <p class="user-name">{{mojOglas.oglas.nuditelj.username}}</p>
        </div>
        <div width="auto" class="user-meta-container" *ngIf="this.userService.najMajstor && this.userService.najMajstor.username === mojOglas.oglas.nuditelj.username">
          <div width="auto" class="user">
            <img src="../../../assets/star.svg" alt="star-full" class="star">
            <p class="user-name">{{this.userService.najMajstor.ocjenaAVG + " (" + this.userService.najMajstor.ocjenaCount + ")"}}</p>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item-name-container">
          <p class="item-name">{{mojOglas.oglas.alat.vrsta}}</p>
        </div>
      </div>
    </div>
  </a>
</div>
