<div class="oglas-details-container">
  <div class="content container">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="oglas-content">

      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{oglasDetails.alat.fotografija ? oglasDetails.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>

      <div class="oglas-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <a href="{{oglasDetails.alat.poveznicaNaProizvod}}" target="blank" *ngIf="oglasDetails.alat.poveznicaNaProizvod">{{oglasDetails.alat.vrsta}}</a>
                  <a *ngIf="!oglasDetails.alat.poveznicaNaProizvod">{{oglasDetails.alat.vrsta}}</a>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="oglasDetails.alat.podvrsta">
                <div class="col-sm-5">
                  <h6 class="mb-0">Podvrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.alat.podvrsta}}
                </div>
              </div>
              <hr *ngIf="oglasDetails.alat.podvrsta">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Snaga alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.alat.snaga}}W
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Akumulatorski</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.alat.akumulatorski ? "DA" : "NE"}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kategorija</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.alat.kategorija}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mjesto primjene</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.alat.mjestoPrimjene}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Opis oglasa</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  {{oglasDetails.tekstOglasa}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vlasnik oglasa</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.nuditelj.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kontakt</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.nacinKontakta === "TELEFON" ? oglasDetails.nuditelj.phone : oglasDetails.nuditelj.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Adresa</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{oglasDetails.nuditelj.address + ", " + oglasDetails.nuditelj.city}}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="text-center">
          <div class="btn btn-danger" (click)="deleteOglas(oglasDetails.idOglasa)" *ngIf="oglasDetails.active">Izbriši oglas</div>
          <p class="text-danger" *ngIf="!oglasDetails.active">Oglas je trenutno u posudbi</p>
        </div>
      </div>

    </div>
  </div>
</div>
