.form-container {
  margin: 0 auto;
  box-shadow: 0px 0px 5px grey;
}

.input-box {
  font-size: 1.2rem;
  padding: 4px;
}

.title-text {
  font-size: 1.3rem;
  display: block;
  width: fit-content;
  margin-left: 4px;
  padding: 5px 0px;
}

.addOglas-tekstarea {
  resize: none;
  width: 100%;
}
