<app-header></app-header>

<div class="container">
  <div class="form-container border rounded bg-light my-5">
    <form id="addOglasForm" class="m-2" [formGroup]="addOglasForm" (ngSubmit)="makeOglas()">

      <div class="form-group mb-1">
        <label class="title-text" for="nazivAlata">Naziv alata:<span class="text-danger">*</span></label>
        <input [ngClass]="{'is-valid' : !control('nazivAlata')?.errors,
                           'is-invalid' : control('nazivAlata')?.errors && control('nazivAlata').touched}"
          class="form-control input-box"
          name="nazivAlata"
          id="nazivAlata"
          type="text"
          formControlName="nazivAlata">

          <div *ngIf="control('nazivAlata')?.errors?.required && control('nazivAlata').touched">
            <p class="text-danger error-text">*Obavezno polje</p>
          </div>
          <div *ngIf="control('nazivAlata')?.errors?.pattern && control('nazivAlata').touched">
            <p class="text-danger error-text">*Upišite ispravni naziv alata</p>
          </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="fotoUrl">Poveznica na fotografiju alata:</label>
        <input [ngClass]="{'is-valid' : !control('fotoUrl')?.errors && control('fotoUrl').touched,
                           'is-invalid' : control('fotoUrl')?.errors && control('fotoUrl').touched}"
          class="form-control input-box"
          name="fotoUrl"
          id="fotoUrl"
          type="text"
          formControlName="fotoUrl">
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="poveznicaNaProizvod">Poveznica na proizvod:</label>
        <input [ngClass]="{'is-valid' : !control('poveznicaNaProizvod')?.errors && control('poveznicaNaProizvod').touched,
                           'is-invalid' : control('poveznicaNaProizvod')?.errors && control('poveznicaNaProizvod').touched}"
          class="form-control input-box"
          name="poveznicaNaProizvod"
          id="poveznicaNaProizvod"
          type="text"
          formControlName="poveznicaNaProizvod">

        <div *ngIf="control('poveznicaNaProizvod')?.errors?.pattern && control('poveznicaNaProizvod').touched">
          <p class="text-danger error-text">*Upišite ispravnu poveznicu</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <fieldset>
          <legend>Akumulatorski alat:<span class="text-danger">*</span></legend>
          <label class="title-text" for="isAkumulatorski"><input class="input-box" name="isAkumulatorski" value="true" id="isAkumulatorski" type="radio" formControlName="isAkumulatorski">Da</label>
          <label class="title-text"><input class="input-box" name="isAkumulatorski" value="false" id="isAkumulatorski" type="radio" formControlName="isAkumulatorski" checked>Ne</label>
        </fieldset>

        <div *ngIf="control('isAkumulatorski')?.errors?.required && control('isAkumulatorski').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="snagaAlata">Snaga alata (W):<span class="text-danger">*</span></label>
        <input [ngClass]="{'is-valid' : !control('snagaAlata')?.errors,
                           'is-invalid' : control('snagaAlata')?.errors && control('snagaAlata').touched}"
          class="form-control input-box"
          name="snagaAlata"
          id="snagaAlata"
          type="number"
          step="10"
          min="0"
          formControlName="snagaAlata">

        <div *ngIf="control('snagaAlata')?.errors?.required && control('snagaAlata').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text">Kategorija alata:<span class="text-danger">*</span></label>
        <select name="kategorijaAlata" formControlName="kategorijaAlata">
          <option [ngValue]="null" disabled>Kategorija</option>
          <option value="PROFESIONALNI">Profesionalni</option>
          <option value="POLUPROFESIONALNI">Poluprofesionalni</option>
          <option value="AMATERSKI">Amaterski</option>
        </select>

        <div *ngIf="control('kategorijaAlata')?.errors?.required && control('kategorijaAlata').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="podvrsta">Podvrsta alata:</label>
        <input [ngClass]="{'is-valid' : !control('podvrsta')?.errors && control('podvrsta').touched,
                           'is-invalid' : control('podvrsta')?.errors && control('podvrsta').touched}"
          class="form-control input-box"
          name="podvrsta"
          id="podvrsta"
          type="text"
          formControlName="podvrsta">

          <div *ngIf="control('podvrsta')?.errors?.pattern && control('podvrsta').touched">
            <p class="text-danger error-text">*Upišite ispravnu podvrstu alata</p>
          </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text" for="mjestoPrimjeneAlata">Mjesto primjene:<span class="text-danger">*</span></label>
        <select id="mjestoPrimjeneAlata" name="mjestoPrimjeneAlata" formControlName="mjestoPrimjeneAlata">
          <option [ngValue]="null" disabled>Mjesto primjene</option>
          <option value="VANJSKI">Vanjski</option>
          <option value="UNUTARNJI">Unutarnji</option>
          <option value="NEDEFINIRANO">Nedefinirano</option>
        </select>

        <div *ngIf="control('mjestoPrimjeneAlata')?.errors?.required && control('mjestoPrimjeneAlata').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text">Opis oglasa:<span class="text-danger">*</span></label>
        <textarea class="addOglas-tekstarea" name="opisOglasa" id="opisOglasa" formControlName="opisOglasa" rows="7" maxlength="255"></textarea>

        <div *ngIf="control('opisOglasa')?.errors?.required && control('opisOglasa').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
        <div *ngIf="control('opisOglasa')?.errors?.pattern && control('opisOglasa').touched">
          <p class="text-danger error-text">*Upišite ispravni tekst oglasa</p>
        </div>
      </div>

      <div class="form-group mb-1">
        <label class="title-text">Kontakt:<span class="text-danger">*</span></label>
        <select name="nacinKontakta" formControlName="nacinKontakta">
          <option [ngValue]="null" disabled>Način kontaktiranja</option>
          <option value="TELEFON">Mobitel</option>
          <option value="EMAIL">Email</option>
        </select>

        <div *ngIf="control('nacinKontakta')?.errors?.required && control('nacinKontakta').touched">
          <p class="text-danger error-text">*Obavezno polje</p>
        </div>
      </div>

      <div class="login-btn">
        <button class="btn btn-success mt-3 button-text" type="submit" [disabled]="addOglasForm.invalid">Predaj oglas</button>
        <a class="quit btn btn-danger mt-3 button-text" href="/zahtjevi">Odustani</a>
      </div>

      <div class="mt-2" *ngIf="errorMsg">
        <p class="text-danger error-text">*{{errorMsg}}</p>
      </div>
    </form>
  </div>
</div>
