<app-header></app-header>

<div class="moj-grid container">
  <app-moja-posudba-zahtjev *ngFor="let posudba of posudbaService.mojePosudbeZahtjevi" [mojaPosudba]="posudba"></app-moja-posudba-zahtjev>
</div>
