.comment {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.comment-icons {
  min-width: 50px;
  margin-left: 12px;
}

.comment-icons em {
  cursor: pointer;
}

.comment-text {
  word-wrap: break-word;
}

.comment-wrap {
  margin-left: 12px;
}

.small-star {
  width: 15px;
  height: 15px;
}
