<div id="{{komentar.idKomentara}}" class="comment d-flex justify-content-between align-items-center">
  <div class="comment-wrap">
    <p class="comment-text mb-2">{{komentar.ostavljaKorisnik.username}} <img src="../../../assets/star.svg" alt="star-full" class="small-star" *ngIf="this.userService.najMajstor && this.userService.najMajstor.username === komentar.ostavljaKorisnik.username"></p>
    <p class="comment-text">{{komentar.tekstKomentara}}</p>
  </div>
  <div class="comment-icons">
    <span>{{komentar.lajkovi.length}}</span>
    <em [ngClass]="{'bi bi-hand-thumbs-up-fill': komentar.currentUserLiked,
                      'bi bi-hand-thumbs-up': !komentar.currentUserLiked}"
      (click)="addLike(komentar.idKomentara)"></em>
    <em class="bi bi-trash-fill"
      alt="Izbriši komentar"
      (click)="deleteComment(komentar.idKomentara)"
      *ngIf=" this.userService.currentUser && (komentar.ostavljaKorisnik.userId === this.userService.currentUser.userId || this.userService.currentUser.role === 'ADMIN')"></em>
  </div>
</div>
