.navbar {
  box-shadow: 0 3px 5px grey;
  position: sticky;
  z-index: 2;
  align-items: center;
  display: flex;
  background: #f8f8ff;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  margin: 20px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  color: #272f54;
}

.navbar-brand p {
  display: inline;
  margin-left: 12px;
}

.navbar-brand a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-links a {
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  color: #6b84a9;
}

.nav-link {
  color: #272f54;
}

.nav-login {
  margin: 0px 10px;
  padding: 0px 7px;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #6b84a9;
  border-color: #6b84a9;
}

.nav-login:hover {
  background-color: #272f54;
  border-color: #272f54;
}

.nav-register {
  margin: 0px 10px;
  padding: 0px 7px;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #272f54;
  border-color: #272f54;
}

.nav-register:hover {
  background-color: #a01823;
  border-color: #a01823;
}

.nav-anchors {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 0;
  background-color: inherit;
  margin: 8px 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 16px;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a,
.dropdown-content div,
.dropdown-content p {
  color: #272f54;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content p {
  font-weight: bold;
  cursor: default;
  border-bottom: 1px dashed #272f54;
}

.dropdown-content a:hover,
.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown-content div:hover {
  cursor: pointer;
}

.burger {
  display: none;
  margin-right: 25px;
  width: auto;
  height: auto;
}

.nav-links-responsive {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.nav-link-responsive,
.nav-link-responsive-btn {
  display: block;
  color: #272f54;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(151, 151, 151);
}

.nav-link-responsive:hover,
.nav-login-responsive:hover,
.nav-register-responsive:hover {
  background-color: #6b84a9;
}

.nav-link-responsive-btn {
  background-color: rgb(177, 177, 177);
}

.nav-login-responsive,
.nav-register-responsive {
  padding: 10px 0px;
  font-size: 1.5rem;
  background-color: rgb(177, 177, 177);
}

.dropdown-content-responsive {
  display: none;
  background-color: #ddd;
  font-family: "Roboto", sans-serif;
}

.dropdown-content-responsive a,
.dropdown-content-responsive div {
  color: #272f54;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content-responsive a:hover,
.dropdown-content-responsive div:hover {
  background-color: #ddd;
}

.dropdown-content-responsive div:hover {
  cursor: pointer;
}

.show {
  display: block;
}

@media screen and (max-width: 870px) {
  .nav-links {
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .logo {
    width: 40px;
    height: auto;
  }

  .nav-login {
    font-size: 1rem;
  }

  .nav-register {
    font-size: 1rem;
  }

  .dropdown-content {
    font-size: 0.9rem;
    min-width: 110px;
  }
}

@media screen and (max-width: 680px) {
  .nav-links {
    display: none;
  }

  .nav-links-responsive {
    background-color: #ddd;
  }

  .responsive {
    display: block;
  }

  .burger {
    display: block;
  }

  .navbar-brand {
    font-size: 1.3rem;
  }
}
