<nav class="navbar-header py-0 navbar navbar-expand-sm">
  <a href="/" class="navbar-brand"><img src="../../../assets/logo_nav.png" class="logo" alt="logo"><p>Posudba alata</p></a>

  <div class="nav-links">
    <div class="nav-anchors">
      <a href="/oglasi" class="nav-link">Trebate alat?</a>
      <a href="/zahtjevi" class="nav-link">Imate alat?</a>
    </div>
    <div class="nav-buttons">
      <button
        [ngClass]="{'d-none': userService.isLoggedIn()}"
        (click)="redirectRegister()"
        class="btn btn-warning nav-register d-inline">
        Registracija
      </button>
      <button
        [ngClass]="{'d-none': userService.isLoggedIn()}"
        (click)="redirectLogin()"
        class="btn btn-primary nav-login d-inline">
        Login
      </button>
    </div>
    <div [ngClass]="{'d-none': !userService.isLoggedIn()}"
      class="dropdown" >
      <button class="dropbtn" (click)="changeState()">
        <img src="../../../assets/profile_icon.png" alt="profile photo">
      </button>
      <div id="dropdown-content" class="dropdown-content">
        <p>{{currentUser === undefined ? "" : currentUser.username}}</p>
        <a href="/profil">Moj profil</a>
        <div (click)="logout()">Logout</div>
      </div>
    </div>
  </div>

  <div class="burger" (click)="showNav()">
    <img alt="hamburger icon" src="../../../assets/hamburger.svg">
  </div>
</nav>

<div id="navbar" class="nav-links-responsive">
  <a href="/oglasi" class="nav-link-responsive">Trebate alat?</a>
  <a href="/zahtjevi" class="nav-link-responsive">Imate alat?</a>
  <a
    [ngClass]="{'d-none': userService.isLoggedIn()}"
    (click)="redirectRegister()"
    class="nav-link-responsive nav-register-responsive">
    Registracija
  </a>
  <a
    [ngClass]="{'d-none': userService.isLoggedIn()}"
    (click)="redirectLogin()"
    class="nav-link-responsive nav-login-responsive">
    Login
  </a>
  <div [ngClass]="{'d-none': !userService.isLoggedIn()}"
    class="dropdown" >
    <a class="nav-link-responsive-btn" (click)="changeStateResponsive()">{{currentUser === undefined ? "" : currentUser.username}}</a>
    <div id="dropdown-content-responsive" class="dropdown-content-responsive">
      <a href="/profil" class="nav-link-responsive">Moj profil</a>
      <div (click)="logout()" class="nav-link-responsive">Logout</div>
    </div>
  </div>
</div>
