<div class="zahtjev-admin">
  <div class="zahtjev-admin-edit" (click)="showOptions()" *ngIf="this.userService.isLoggedIn() && this.userService.currentUser.role === 'ADMIN'">
    <img src="../../../assets/three-dots.svg" alt="menu">
    <div id="{{zahtjev.idZahtjeva}}-zahtjev-admin-dropdown-content" class="zahtjev-admin-dropdown-content">
      <div (click)="deleteZahtjev(zahtjev.idZahtjeva)" *ngIf="zahtjev.active">Izbriši zahtjev</div>
      <div *ngIf="!zahtjev.active">U posudbi</div>
    </div>
  </div>
  <a (click)="showZahtjev()" class="zahtjev-admin-link">
    <div class="zahtjev-admin-container">
      <div class="tester"></div>
      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{zahtjev.alat && zahtjev.alat.fotografija ? zahtjev.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>
      <div class="user-container">
        <div width="auto" class="user-name-container">
          <p class="user-name">{{zahtjev.trazitelj.username}}</p>
        </div>
        <div width="auto" class="user-meta-container" *ngIf="this.userService.najMajstor && this.userService.najMajstor.username === zahtjev.trazitelj.username">
          <div width="auto" class="user">
            <img src="../../../assets/star.svg" alt="star-full" class="star">
            <p class="user-name">{{this.userService.najMajstor.ocjenaAVG + " (" + this.userService.najMajstor.ocjenaCount + ")"}}</p>
          </div>
        </div>
      </div>
      <div class="item-container">
        <div class="item-name-container">
          <p class="item-name" *ngIf="zahtjev.alat">{{zahtjev.alat.vrsta}}</p>
          <p class="item-name" *ngIf="!zahtjev.alat">Trebam savjet</p>
        </div>
      </div>
    </div>
  </a>
</div>

