<div class="zahtjev-details-container">
  <div class="content container">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="zahtjev-content">

      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                src="{{zahtjevDetails.alat && zahtjevDetails.alat.fotografija ? zahtjevDetails.alat.fotografija : '../../../assets/placeholder.jpg' }}"
              >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>

      <div class="zahtjev-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3" *ngIf="zahtjevDetails.alat">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <a href="{{zahtjevDetails.alat.poveznicaNaProizvod}}" target="blank" *ngIf="zahtjevDetails.alat.poveznicaNaProizvod">{{ zahtjevDetails.alat.vrsta }}</a>
                  <a *ngIf="!zahtjevDetails.alat.poveznicaNaProizvod">{{ zahtjevDetails.alat.vrsta }}</a>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="zahtjevDetails.alat.podvrsta">
                <div class="col-sm-5">
                  <h6 class="mb-0">Podvrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.alat.podvrsta}}
                </div>
              </div>
              <hr *ngIf="zahtjevDetails.alat.podvrsta">
              <div class="row" *ngIf="zahtjevDetails.alat.snaga >= 0">
                <div class="col-sm-5">
                  <h6 class="mb-0">Snaga alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.alat.snaga}}W
                </div>
              </div>
              <hr *ngIf="zahtjevDetails.alat.snaga >= 0">
              <div class="row" *ngIf="zahtjevDetails.alat.akumulatorski">
                <div class="col-sm-5">
                  <h6 class="mb-0">Akumulatorski</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.alat.akumulatorski ? "DA" : "NE"}}
                </div>
              </div>
              <hr *ngIf="zahtjevDetails.alat.akumulatorski">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kategorija</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.alat.kategorija}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mjesto primjene</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.alat.mjestoPrimjene}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Opis zahtjeva</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  {{zahtjevDetails.tekstZahtjeva}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vlasnik zahtjeva</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.trazitelj.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kontakt</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.nacinKontakta === "TELEFON" ? zahtjevDetails.trazitelj.phone : zahtjevDetails.trazitelj.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Adresa</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{zahtjevDetails.trazitelj.address + ", " + zahtjevDetails.trazitelj.city}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Komentari</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary komentar-container">
                  <app-komentar *ngFor="let komentar of zahtjevDetails.listaKomentara" [komentar]="komentar" [idZahtjeva]="zahtjevDetails.idZahtjeva"></app-komentar>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="text-center">
          <div class="btn btn-danger" (click)="deleteZahtjev(zahtjevDetails.idZahtjeva)" *ngIf="zahtjevDetails.active">Izbriši zahtjev</div>
          <p class="text-danger" *ngIf="!zahtjevDetails.active">Zahtjev je trenutno u posudbi</p>
        </div>

      </div>


    </div>
  </div>
</div>

