.zahtjev-admin-details-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.zahtjev-admin-container {
  width: 95%;
  margin: 0 auto;
}

.content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
}

.image-container {
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 16px;
}

.immage-inner {
  overflow: hidden;
  width: auto;
  position: relative;
  width: 400px;
  border-radius: 16px;
}

.image-hugger {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  position: absolute;
  inset: 0px;
  width: 100%;
}

.comments-container {
}

.addComment-tekstarea {
  resize: none;
  width: 100%;
}

.btn-borrow {
  width: fit-content;
  margin: 0 auto;
}

.content-details {
  margin: 0 auto;
}

.btn-moj {
  color: #fff;
  background-color: #6b84a9;
  border-color: #6b84a9;
}
