.moj-zahtjev-details-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.moj-zahtjev-edit {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.moj-zahtjev-dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  padding: 3px;
  white-space: nowrap;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.exit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.exit:hover,
.exit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.moj-zahtjev-container {
  margin: 0 auto;
}

.content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
}

.image-container {
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
}

.image {
  width: 100%;
  border-radius: 16px;
}

.immage-inner {
  overflow: hidden;
  width: auto;
  position: relative;
  width: 400px;
  border-radius: 16px;
}

.image-hugger {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  position: absolute;
  inset: 0px;
  width: 100%;
}

.comments-container {
}

.content-details {
  margin: 0 auto;
}
