<div class="moj-zahtjev-details-container">
  <div class="content">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="zahtjev-content">

      <div class="image-container">
        <div class="image">
          <div width="400px" class="image-inner">
            <div style="max-width: 100%; width: 400px; margin: 0 auto;">
              <div style="position: relative; padding-bottom: 75%;">
                <img alt="Slika alata"
                  style="visibility: visible; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%;"
                  src="{{mojZahtjevDetails.zahtjev.alat && mojZahtjevDetails.zahtjev.alat.fotografija ? mojZahtjevDetails.zahtjev.alat.fotografija : '../../../assets/placeholder.jpg' }}"
                >
              </div>
            </div>
            <div class="image-hugger"></div>
          </div>
        </div>
      </div>

      <div class="moj-zahtjev-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3" *ngIf="mojZahtjevDetails.zahtjev.alat">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <a href="{{mojZahtjevDetails.zahtjev.alat.poveznicaNaProizvod}}" target="blank" *ngIf="mojZahtjevDetails.zahtjev.alat.poveznicaNaProizvod">{{ mojZahtjevDetails.zahtjev.alat.vrsta }}</a>
                  <a *ngIf="!mojZahtjevDetails.zahtjev.alat.poveznicaNaProizvod">{{ mojZahtjevDetails.zahtjev.alat.vrsta }}</a>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="mojZahtjevDetails.zahtjev.alat.podvrsta">
                <div class="col-sm-5">
                  <h6 class="mb-0">Podvrsta alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.alat.podvrsta}}
                </div>
              </div>
              <hr *ngIf="mojZahtjevDetails.zahtjev.alat.podvrsta">
              <div class="row" *ngIf="mojZahtjevDetails.zahtjev.alat.snaga >= 0">
                <div class="col-sm-5">
                  <h6 class="mb-0">Snaga alata</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.alat.snaga}}W
                </div>
              </div>
              <hr *ngIf="mojZahtjevDetails.zahtjev.alat.snaga >= 0">
              <div class="row" *ngIf="mojZahtjevDetails.zahtjev.alat.akumulatorski">
                <div class="col-sm-5">
                  <h6 class="mb-0">Akumulatorski</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.alat.akumulatorski ? "DA" : "NE"}}
                </div>
              </div>
              <hr *ngIf="mojZahtjevDetails.zahtjev.alat.akumulatorski">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kategorija</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.alat.kategorija}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mjesto primjene</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.alat.mjestoPrimjene}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Opis zahtjeva</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary">
                  {{mojZahtjevDetails.zahtjev.tekstZahtjeva}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Vlasnik zahtjeva</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.trazitelj.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Kontakt</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.nacinKontakta === "TELEFON" ? mojZahtjevDetails.zahtjev.trazitelj.phone : mojZahtjevDetails.zahtjev.trazitelj.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Adresa</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{mojZahtjevDetails.zahtjev.trazitelj.address + ", " + mojZahtjevDetails.zahtjev.trazitelj.city}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" *ngIf="mojZahtjevDetails.zahtjev.listaKomentara.length > 0">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Komentari</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 text-secondary komentar-container">
                  <app-komentar *ngFor="let komentar of mojZahtjevDetails.zahtjev.listaKomentara" [komentar]="komentar" [idZahtjeva]="mojZahtjevDetails.zahtjev.idZahtjeva"></app-komentar>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Status zahtjeva</h6>
                </div>
                <div class="col-sm-7 text-secondary" *ngIf="mojZahtjevDetails.zahtjev.active">
                  <p class="text-success">Aktivan</p>
                </div>
                <div class="col-sm-7 text-secondary" *ngIf="!mojZahtjevDetails.zahtjev.active">
                  <p class="text-danger">U posudbi</p>
                </div>
              </div>
              <hr *ngIf="mojZahtjevDetails.listaZainteresiranih && (mojZahtjevDetails.listaZainteresiranih.length > 0 || mojZahtjevDetails.zahtjev.active)">
              <div class="row" *ngIf="mojZahtjevDetails.listaZainteresiranih && (mojZahtjevDetails.listaZainteresiranih.length > 0 || mojZahtjevDetails.zahtjev.active)">
                <div class="col-sm-5">
                  <h6 class="mb-0">Zainteresirani</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <div class="container">
                    <app-ponuda *ngFor="let ponuda of mojZahtjevDetails.listaZainteresiranih" [vlasnikId]="mojZahtjevDetails.zahtjev.trazitelj.userId" [id]="mojZahtjevDetails.zahtjev.idZahtjeva" [ponuda]="ponuda" [vrsta]="'zahtjev'"></app-ponuda>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="!mojZahtjevDetails.listaZainteresiranih">
          <div>
            <div class="btn btn-moj" (click)="ponistiInteres()">Poništi interes</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

