.form-container {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px grey;
}

.input-box {
  font-size: 1.2rem;
  padding: 4px;
}

.title-text {
  font-size: 1.3rem;
  display: block;
  width: fit-content;
  margin-left: 4px;
  padding: 5px 0px;
}

.button-text {
  font-size: 1.3rem;
}

.error-text {
  font-size: 1rem;
  margin-bottom: 8px;
  margin-left: 4px;
}

.quit {
  margin-left: 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .quit {
    margin: 0px;
  }
}
