<div class="korisnik-details-container">
  <div class="content container">
    <em class="bi bi-x exit" (click)="modal.dismissAll()"></em>
    <div class="korisnik-content">
      <div class="korisnik-container">

        <div class="col-md-10 content-details">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisnik</h6>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Korisničko ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{korisnikDetails.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Ime</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{korisnikDetails.firstName + " " + korisnikDetails.lastName}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{korisnikDetails.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Mobitel</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  {{korisnikDetails.phone}}
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <h6 class="mb-0">Prijave</h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <app-prijava *ngFor="let prijava of prijave" [prijava]="prijava"></app-prijava>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="korisnikDetails.userId !== this.userService.currentUser.userId">
          <button class="btn btn-danger mt-2" *ngIf="korisnikDetails.role !== 'BLOCKED'" (click)="blockUser(korisnikDetails.userId)">Blokiraj korisnika</button>
          <button class="btn btn-danger mt-2" *ngIf="korisnikDetails.role === 'BLOCKED'" (click)="unblockUser(korisnikDetails.userId)">Odblokiraj korisnika</button>
        </div>
      </div>
    </div>
  </div>
</div>
