.korisnik-details-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.korisnik-edit {
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.korisnik-dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  padding: 3px;
  white-space: nowrap;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.korisnik-container {
  width: 95%;
  margin: 0 auto;
}

.content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
}

.content-details {
  margin: 0 auto;
}
