<app-header></app-header>

<div class="container my-5">
  <div class="col-md-9 content">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Korisničko ime</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userService.currentUser.username}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Ime</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userService.currentUser.firstName + " " + userService.currentUser.lastName}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userService.currentUser.email}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Mobitel</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userService.currentUser.phone}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Adresa</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userService.currentUser.address + ", " + userService.currentUser.city}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Uloga</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{userService.currentUser.role}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <a class="btn btn-moj" href="/profil/urediProfil">Uredi profil</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-1">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Feedback</h6>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <a class="btn btn-moj" href="/profil/feedback">Pregledaj</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-1">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Oglasi</h6>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/mojiOglasi">Moji oglasi</a>
          </div>
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/oglasi/posudba">Oglasi u posudbi</a>
          </div>
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/oglasi/interesi">Interesi za oglase</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-1">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Zahtjevi</h6>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/mojiZahtjevi">Moji zahtjevi</a>
          </div>
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/zahtjevi/posudba">Zahtjevi u posudbi</a>
          </div>
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/zahtjevi/interesi">Interesi za zahtjeve</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-1" *ngIf="this.userService.currentUser.role === 'ADMIN'">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Ovlasti admina</h6>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/korisnici">Svi korisnici</a>
          </div>
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/oglasi">Svi oglasi</a>
          </div>
          <div class="col-sm-3 mt-1">
            <a class="btn btn-moj" href="/profil/zahtjevi">Svi zahtjevi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
