<app-header></app-header>

<div class="container add-oglas">
  <a class="btn btn-moj mt-3" href="/addOglas">Dodaj svoj oglas</a>
</div>

<div class="moj-grid container">
  <app-moj-oglas *ngFor="let oglas of oglasService.mojiOglasi" [mojOglas]="oglas"></app-moj-oglas>
</div>
