.moj-grid {
  width: 100%;
  max-width: 1200px;
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
  gap: 1rem;
  grid-template-rows: auto;
  margin-bottom: 40px;
}

.add-oglas {
  text-align: center;
}
